<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <img src="images/images.jpg"/>
        Faizan
    </body>
</html>