<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/style.css" />

    </head>
    <body>
        <div class="profile-container">
            <img src="images/images.jpg"/>
            <h1>Jade Rider</h1>
            <p>Age: 30</p>
            <p>Occupation: Software Engineer</p>
            <p>Country: Canada</p>
            <label>Name: <input type ="text" name="name" placeholder="Enter your name"></label>
            <label>Email: <input type ="text" name="email" placeholder="Enter your email"></label>
            <button type="submit">Submit</button>


        
    </body>
</html>