body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.profile-container {
    background-color:darkcyan;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 50px auto;
    max-width: 475px;
    padding: 20px;
    text-align: center;
}

.profile-container img {
    border-radius: 50%;
    height: 150px;
    margin-bottom: 20px;
    width: 150px;
}

.profile-container h1 {
    color:cyan;
    font-size: 24px;
    margin: 0;
}

.profile-container p {
    color:aliceblue;
    font-size: 16px;
}